bitcoinrpc
cmake
discord-webhook
flask-caching
flask-cors
flask-restful
gspread
gym
h2
nested-lookup
openai
parsel
peewee-mssql
pip-chill
pyglet
pyinstaller
pylibdmtx
pyodbc
pysocks
python-barcode
scrapfly-sdk
selenium
simplegmail
sqlalchemy
streamlit
